*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: white;
}

.c-debug {
  background-color: aqua;
  border-color: bisque;
}

i {
  font-size: 25px;
  margin-bottom: 5px;
}

p {
  text-transform: capitalize;
}

.fa-chevron-up {
  font-size: .5rem;
}

/* TOP-BAR  */


.top-bar {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #000000;
  justify-content: flex-end;
  padding-top: 20px;
}

.speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 0px 5px;
  border-radius: 5px;
  margin-right: 10px;
  height: 25px;
}

.iconatop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 0px 5px;
  border-radius: 5px;
  margin-right: 5px;
  height: 25px;
}

.iconatop i{
  font-size: 14px;
}

.speaker span {
  margin-right: 5px;
}



/* MAIN  */


main {
  width: 100%;
  background-color: black;
}

main .container {
  margin: 0 auto;
  width: 90%;
  background-color: gray;
  height: calc(100vh - 160px);
  overflow: auto;
  text-align: center;
}

main .user-card {
  display: inline-block;
  position: relative;
  background-color: blue;
  height: 150px;
  width: 230px;
  margin: 5px;
}

.container .nome {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.container .user-card .nome i{
  font-size: 14px;
  margin-right: 5px;
  margin-top: 4px;
}








/* BOTTOM  */

footer {
  height: 80px;
  background-color: #222222;
  display: flex;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.col {
  display: flex;
  height: 100%;
  width: calc(100% / 3);
  align-items: center;
}

.col.col-left:nth-child(2) {
  justify-content: center;
}

.col.col-right:nth-child(3) {
  justify-content: end;
}

.row .box-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}

.row .col p {
  font-size: .7rem;
}

.end-meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
  background-color: #4A4A4A;
}

.col-right {
  display: flex;
  justify-content: end;
}

.col-right .end-meeting p {
  color: red
;}

.col-left, .col-right{
  width: 20%;
}